.Acceuil {
 /* background-image: url(teste11.png);*/
   background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;


  }
  .flex-container {
    display: inline;
    flex : 1;
    flex-direction: row;
    margin : 0 auto;
    text-align: center;
  }
  .Button-Design {
    background-color:#ECECEB;
    width : 150px;
    height : 150px;
    margin: 2%;
    border-radius: 50% ;
    border-color: #ECECEB;

   }
  
  .target{
    width: 60px;
    height : 60px;
    margin: right;
  }

  .target1{
    width:77px;
    height :77px;
    margin: right;
  }
  
   .Button-Design:hover{

    background-color: #f47241;
    border-color: #f47241;

  }

  .letxt{

    /*font-family: 'Gilroy-ExtraBold', cursive;*/
  /* @font-face {
font-family: 'quadranta';
src: url('quadranta.eot');
src: url('quadranta.otf') format('truetype'),
     url('quadranta.woff') format('woff'),
     url('quadranta.eot?#iefix') format('embedded-opentype'),
     url('quadranta.svg#QuadrantaBold') format('svg');
font-weight: normal;
font-style: normal;
}}*/
font-family: 'Snell Roundhand, ', cursive;
    display:block;
    text-decoration: none;
    text-align: center;
    color: black;
    font-size:12px;
  }